* {
    background-color: rgb(230, 249, 201);
}
h1 {
    color: rgb(0, 252, 29);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xxx-large;
}
body .greeny-text {
    border: 20em;
}
